<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loginHtml">
    <head>
        <meta charset="UTF-8">
        <title>Welcome-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/css/font.css}">
        <link rel="stylesheet" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" tppabs="http://res.layui.com/layui/dist/css/layui.css"  media="all">
        <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/check.js}"></script>
    <body>
    <div class="x-nav">
          <span class="layui-breadcrumb">
            <a th:href="@{/user/memberList}">返回</a>
              </span>
    </div>
        <div class="layui-fluid" >
            <div class="layui-row" >
                <form class="layui-form" method="get" th:action="@{/user/submitUpdate}">
                    <input name="id" type="hidden" th:value="${user.id}">
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>username</label>
                        <div class="layui-input-inline">
                            <input onblur="usernameCheck()" th:value="${user.username}" type="text" id="L_username" name="username" required="" lay-verify="nikename" autocomplete="off" class="layui-input">
                        </div>
                        <span id="usernameInfo"></span>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_pass" class="layui-form-label">
                            <span class="x-red">*</span>password</label>
                        <div class="layui-input-inline">
                            <input onblur="passwordCheck()" th:value="${user.password}" type="password" id="L_pass" name="password" required="" lay-verify="pass" autocomplete="off" class="layui-input"></div>
                            <span id="passwordInfo"></span>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                            <span class="x-red">*</span>repeated</label>
                        <div class="layui-input-inline">
                            <input onblur="rePasswordCheck()" th:value="${user.password}" type="password" id="L_repass" name="repassword" required="" lay-verify="repass" autocomplete="off" class="layui-input"></div>
                            <span id="rePasswordInfo"></span>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">radio</label>
                        <div class="layui-input-block" th:if="${user.sex==1}">
                            <input type="radio" name="sex" value="1" title="male" checked="">
                            <input type="radio" name="sex" value="0" title="female" >
                        </div>
                        <div class="layui-input-block" th:if="${user.sex==0}">
                            <input type="radio" name="sex" value="1" title="male" >
                            <input type="radio" name="sex" value="0" title="female" checked="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>email</label>
                        <div class="layui-input-inline">
                            <input onblur="emailCheck()" th:value="${user.email}" type="text" id="L_email" name="email" required="" lay-verify="email" autocomplete="off" class="layui-input"></div>
                        <span id="emailInfo"></span>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button type="submit" class="layui-btn" lay-submit="" >updated</button>
                    </div>
                </form>
            </div>
        </div>
    <!--格式提示js-->
    <script th:src="@{/js/check.js}"></script>
    <!--提示修改成功-->
    <script type="text/javascript"  th:inline="javascript">
        $(function(){
            var message = [[${message}]];
            if(message === "correct success！"){
                alert(message);
            }
        })
    </script>
    </body>

</html>