<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="loginHtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title text="blog'"></title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
    <!--Layui-->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <!--font-awesome-->
    <link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <!--全局样式表-->
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <link th:href="@{/css/animate.min.css}" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link th:href="@{/css/detail.css}" rel="stylesheet" />
    <link th:href="@{/css/blog.css}" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/css/master.css}" />
    <link rel="stylesheet" th:href="@{/css/gloable.css}" />
    <link rel="stylesheet" th:href="@{/css/nprogress.css}" />
    <link rel="stylesheet" th:href="@{/css/message.css}" />
    <!-- jquery -->
    <script th:src="@{/js/jquery.min.js}"></script>
</head>

<body>

<div th:insert="~{commons/commons.html :: top}"></div>

<div class="blog-body">

    <div class="blog-container">
        <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow" style="visibility: visible;">
            <a href="userIndex.html" title="Home">Home<span class="layui-box">&gt;</span></a>
            <a><cite>Game Library</cite></a>
        </blockquote>
        <div class="blog-main">

            <div id="parentArticleList" class="blog-main-left animated slideInLeft">
                <div class="flow-default" id="articleList">
                    <div class="article shadow animated zoomIn" >
                        <div class="article-left">
                            <img th:src="@{images/topicPicture/wangzherongyao.jpg}" >
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <span class="article_is_top" >original</span>&nbsp;
                                <a th:href="@{/detail/87}">Glory of Kings</a>
                            </div>
                            <div class="article-abstract">
                                <a>King of Glory is a 5V5 combat game </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o">22-11-24 08-00</i>&nbsp;&nbsp;</span>
                            <a class="article-author"><i class="fa fa-user"> liurui</i>&nbsp;&nbsp;</a>
                            <button class="article-viewinfo" style="border-style:none; background-color: white">
                                <i class="fa fa-thumbs-o-up"  style="color: cornflowerblue">2</i>&nbsp;&nbsp;
                            </button>
                            <span><i class="fa fa-tag"></i><a>none</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye">13</i>&nbsp;</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting">2</i>&nbsp;</span>
                            <!--再搞个点赞的-->
                        </div>
                    </div>

                    <div class="article shadow animated zoomIn" >
                        <div class="article-left">
                            <img th:src="@{images/topicPicture/LOL.jpg}" >
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <span class="article_is_top" >original</span>&nbsp;
                                <a th:href="@{/detail/88}">League of Legends(LOL)</a>
                            </div>
                            <div class="article-abstract">
                                <a>League of Legends(LOL) is a 5V5 combat game </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o">22-11-24 08-00</i>&nbsp;&nbsp;</span>
                            <a class="article-author"><i class="fa fa-user"> liurui</i>&nbsp;&nbsp;</a>
                            <button class="article-viewinfo" style="border-style:none; background-color: white">
                                <i class="fa fa-thumbs-o-up"  style="color: deeppink">8</i>&nbsp;&nbsp;
                            </button>
                            <span><i class="fa fa-tag"></i><a>none</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye">11</i>&nbsp;</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting">3</i>&nbsp;</span>
                            <!--再搞个点赞的-->
                        </div>
                    </div>

                    <div class="article shadow animated zoomIn" >
                        <div class="article-left">
                            <img th:src="@{images/topicPicture/hepingjingying.jpg}" >
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <span class="article_is_top" >original</span>&nbsp;
                                <a th:href="@{/detail/89}">Game for Peace</a>
                            </div>
                            <div class="article-abstract">
                                <a>Peace Elite is a survival gunfight game </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o">23-3-24 08-00</i>&nbsp;&nbsp;</span>
                            <a class="article-author"><i class="fa fa-user"> Haoran</i>&nbsp;&nbsp;</a>
                            <button class="article-viewinfo" style="border-style:none; background-color: white">
                                <i class="fa fa-thumbs-o-up"  style="color: deeppink">5</i>&nbsp;&nbsp;
                            </button>
                            <span><i class="fa fa-tag"></i><a>none</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye">7</i>&nbsp;</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting">2</i>&nbsp;</span>
                            <!--再搞个点赞的-->
                        </div>
                    </div>

                    <div class="article shadow animated zoomIn" >
                        <div class="article-left">
                            <img th:src="@{images/topicPicture/CF.JPG}" >
                        </div>
                        <div class="article-right">
                            <div class="article-title">
                                <span class="article_is_top" >original</span>&nbsp;
                                <a th:href="@{/detail/90}">Cross Fire(CF)</a>
                            </div>
                            <div class="article-abstract">
                                <a>Crossing the Fire Line is an FPS shooting game </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="article-footer">
                            <span><i class="fa fa-clock-o">22-11-24 08-00</i>&nbsp;&nbsp;</span>
                            <a class="article-author"><i class="fa fa-user"> liurui</i>&nbsp;&nbsp;</a>
                            <button class="article-viewinfo" style="border-style:none; background-color: white">
                                <i class="fa fa-thumbs-o-up"  style="color: deeppink">2</i>&nbsp;&nbsp;
                            </button>
                            <span><i class="fa fa-tag"></i><a>none</a></span>
                            <span class="article-viewinfo"><i class="fa fa-eye">13</i>&nbsp;</span>
                            <span class="article-viewinfo"><i class="fa fa-commenting">2</i>&nbsp;</span>
                            <!--再搞个点赞的-->
                        </div>
                    </div>
                    <!--分页-->
                    <div class="layui-flow-more " style="background: white">
                        <div class="page">
                            <div>
                                <a class="prev">previous</a>
                                <a class="num">1</a>
                                <span class="current" style="color: mediumseagreen"></span>
                                <a class="num">2</a>
                                <a class="next">next</a>
                                <a class="num" href="">all 1 page</a>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" id="pageCount" onkeyup="value=value.replace(/[^\d]/g,'')" onblur="value=value.replace(/[^\d]/g,'')" placeholder="" autocomplete="off" class="layui-input" style="width: 50px">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn" onclick="toWhichPage()"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                                <a class="num" >all 4 pieces</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blog-main-right">

                <div class="blog-search animated fadeInRight">
                    <div class="layui-form-item">
                        <div class="search-keywords  shadow">
                            <input type="text" id="tagMessage" name="keywords" lay-filter="searchInput" lay-verify="required" placeholder="Enter keyword search" autocomplete="off" class="layui-input">
                        </div>
                        <div class="search-submit  shadow">
                            <button class="search-btn" onclick="searchTag()"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>

                <div class="article-category shadow categoryOut">
                    <div class="article-category-title">Classification navigation</div>
                    <a href="#" >Mobile Game</a>
                    <a href="#" >Computer Game</a>
                    <div class="clear"></div>
                </div>


                <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!--页脚-->
<div th:insert="~{commons/commons.html :: down}"></div>
<div class="blog-mask animated layui-hide "></div>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/global.js}"></script>
<script th:inline="javascript">
    function support(topicId){
        $.get({
            url: "/chen/topic/supportOrCriticism/" + topicId,
            success: function (data){
                if (data === "error"){
                    layer.msg("log in！")
                } else {
                    location.href = "/chen/article/toWhichPage/" + [[${cutPage.nowPage}]];
                }
            },
            error: function (){
                alert("failed")
            }
        })
    }

    function toWhichPage() {
        let pageCount = $("#pageCount").val();
        if (pageCount === ""){
            layer.msg("Null!")
        }else if(pageCount > [[${cutPage.pageCount}]] || pageCount <= 0){
            layer.msg("Null！")
        }
        else {
            window.location.href="/chen/article/toWhichPage/" + $("#pageCount").val()
        }
    }

    function searchTag(){
        $.get({
            url: "/chen/searchTag",
            data:{
                "tagMessage":$("#tagMessage").val()
            },
            success: function (data){
                if (data === 'none'){
                    layer.msg("none article！");
                }
                if (data === 'success'){
                    location.href="article.html";
                }
            },
            error: function (){
                layer.msg("Failed")
            }
        })
    }

</script>

</body>
</html>