# Files ignored by default
/shelf/
/workspace.xml
# Data source local storage has ignored files
/../../../../:\github\layui\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP client request
/httpRequests/
